/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    display:flex;
    justify-content: center;
    align-items: center;
}

li{
    font-size:large;    
    font-style: italic;
    color: #333;
}

.clock_container {
    text-align: center;
    margin: auto;
}

.clock {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

